<!DOCTYPE html>
<html>
  <body>
    <h2>Here's a List of Your Recipes</h2>
    <% @recipes.each do |recipe| %>
    <% recipe_link = "/recipes/#{recipe.id}" %>
    <h3><a href="<%= recipe_link %>"><%= recipe.name.upcase %></a></h3>
    <% end %>
  </body>
</html>
