<!DOCTYPE html>
<html>
  <body>
    <h2>Recipe Name: <%= @recipe.name %></h2><br>
    <h2>Ingredients: <%= @recipe.ingredients %></h2><br>
    <h2>Cook Time: <%= @recipe.cook_time %></h2><br>
  </body>
</html>
